@import "./reset.css";

h2 {
	padding: 10px;
}
h4{
	font-weight: 600;
	font-size: 16px;
}
body {
	background-color: #f4f5f6;
color: #333;
font-size: 13px;
line-height: 18px;
font-family: Arial,Helvetica,sans-serif;
overflow-x: hidden;
}
article {
	padding-top: 15px;
}
.container {
	max-width: 1366px;
	background-color: white;
	padding:0;
}
.navbar-top {
	background-color: #f72210;
}
.navbar-top-middle {
	margin: 5px 0 5px 10vw;
	text-align: center;
}
.navbar-top-left {
	color: white;
	margin-left: 15px;
	padding-top: 20px;
}

.head-para {
	margin-top: 10px;
}
.navbar-top-right{
	padding-top: 45px;
}
.navbar-middle {
	background-color: #f72210;
	width: 100%;
	padding: 10px;
}

.navbar-right,
.navbar-top-right {
	float: right;
}

.btn {
	padding: .25em;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
}

.fas {
	color: #dce0e6;
}

.navbar-bar {
	width: 100%;
}
.navbar-item {
	display: inline-block;
}
.col-sm-12,
.col-md-12,
.col-lg-4 {
	padding-left:0;
	padding-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}
.opinion-full,
.debate-full {
padding-left: 15px;
padding-right: 15px;
}
.debate-full {
	position: relative;	
}

.vs{
	border-radius: 50%;
  background-color: black;
  width: 30px;
  height: 25px;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 55%;
}
.vs p {
	padding: 4px;
	color: white;
}
.debate {
	border-top: 4px solid red;
	padding-bottom: 15px;
	border-bottom: 4px double black;
}
.debate-2{
	border-bottom: 4px solid blue;
	padding-bottom: 15px;
}
.pic-div{
	padding-left: 20px;
	padding-top: 20px;
}
.empty {
	margin:10px 0;
	height: 25px;
}
.more-story,
.opinion {
	display: grid;
	grid-template-columns: 1fr 6fr;
	border-top: 1px solid grey;
	padding-top: 3px;
	padding-bottom: 5px;
}
.opinion:first-of-type{
	border:none;
}
.pic-div-2{
	padding:10px 10px;
}
.story-img {
	width: 100px;
}
.card {
	border:none;
	width: auto;
	padding-left:15px;
	padding-right: 15px;
}
.image-card {
	position: relative;
}
.caption {
	position: absolute;
font: bold 17px/16px "Roboto Condensed",sans-serif;
color: #f72210;
text-transform: uppercase;
padding: 8px 15px 9px;
background-color: rgba(255,255,255,.9);
bottom: 0;
}
.tags {
	position: absolute;
	font: bold 13px/20px "Roboto condensed",Arial,sans-serif;
	text-transform: uppercase;
	background-color: rgba(124, 162, 196,.8);
	padding: 0 5px;
	bottom: 4px;
}
.jumbotron {
	margin: 10px auto;
	width: 280px;
	height: 180px;
	border: 1px solid #e5e5e5;
background-color: #f4f5f6;
}
.news-box{
	margin: 0 auto;
}
.newsletter {
display: flex;
}

.icon {
	width: 40px;
	height: 40px;
	margin-left: 1rem;
	background: url("../img/apple-touch-icon.png") center/contain no-repeat;
}
.newsletter h4 {
	margin-left: 8px;
}
.news-form input {
	margin-top: 10px;
	width: 100%;
	height: 32px;
}
.news-form .form-text {
	text-indent: 10px;
	background-color: white;
border: 1px solid #e0e1e1;
color: #555;
}
.news-form .form-submit {
	cursor: pointer;
	background-color: #f61602;
	color: white;
	border:none;
	border-radius: 3px;
}
.img-whole-div {
	margin: 15px;
	padding: 30px;
	background-color: #f4f5f6;
}
.img-related {
	position: relative;
	padding-bottom: 13px;
    padding-right: 90px;
}
.img-top {
	position: absolute;
	top: 13px;
    left: 80px;
}

.img-div-2{
    margin-top: -50px;
    text-align: center;
 }

.img-div-2 .debate-para,
.img-info .debate-para {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 22px;
}
.img-info {
	text-align: center;
	border: 1px solid #ebebeb;
}
.img-info h4 {
	margin-top: 30px;
}
.for-pad {
	padding-bottom: 30px;
	padding-left:5px;
}
.newsletter-whole-div {
	margin: 15px;
}
.newsletter-phone {
	background: url("../img/starting5-homepage.png") center/contain no-repeat;
	background-size: cover;
}
footer {
	margin-left: 15px;
	padding-top: 15px;
}

.footer-social {
	align-self: flex-end;
}

.footer-border{
	border-bottom: 1px solid #666;
	padding-bottom: 15px; 
}
.footer-list {
	display: inline-block;
	margin-right: 10px;
}
.footer-list a {
	color: #666;
}
.footer-end {
	margin-top: 10px;
}
.hidden-phone{
		display: none;
	}
.hidden-ipad-ph {
	display: none;
}


@media screen and (min-width: 768px){
	.hidden-ipad {
		display: none;
	}
	.hidden-phone{
		display: block;
	}
	.icon {
	width: 60px;
	height: 60px;
    }
	.jumbotron{
		width: 300px;
		height: 230px;
	}
	.newsletter h4 {
	  margin-top: 5px;
    }
     .img-div-2 {
	padding-left: 90px;
	padding-right: 20px;
	margin-top: 30px;
	text-align: left;
 }
 .img-info {
 	text-align: left;
 	padding-left: 20px;
 	padding-right: 10px;
 }
}

@media screen and (min-width: 992px){
	.hidden-pc {
		visibility: hidden;
		display:none;
	}
	.hidden-ipad-ph {
		display:inline-block;
	}
	.newsletter h4 {
	margin-top: 8px;
    }
}