@import "./reset.css";

.container {
	max-width: 1366px;
}
.navbar-top {
	background-color: #f72210;
}
.navbar-top-middle {
	margin: 5px 0 5px 10vw;
	text-align: center;
}
.navbar-top-left {
	color: white;
	margin-left: 15px;
	padding-top: 20px;
}

.head-para {
	margin-top: 10px;
}
.navbar-top-right{
	padding-top: 45px;
}
.navbar-middle {
	background-color: #f72210;
	width: 100%;
	padding: 10px;
}

.navbar-right,
.navbar-top-right {
	float: right;
}

.btn {
	padding: .25em;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
}

.fas {
	color: #dce0e6;
}

.navbar-bar {
	width: 100%;
}
.navbar-item {
	display: inline-block;
	margin-right: 5px;
}

.hidden-phone{
		display: none;
	}
.hidden-ipad-ph {
	display: none;
}


@media screen and (min-width: 768px){
	.hidden-ipad {
		display: none;
	}
	.hidden-phone{
		display: block;
	}
}

@media screen and (min-width: 992px){
	.hidden-pc {
		visibility: hidden;
		display:none;
	}
	.hidden-ipad-ph {
		display:inline-block;
	}
}